.button {
    background-color: #b3b3b3;
    margin: 0.5em;
    padding: 0 8px 0 8px;
    border-radius: 10px;
}

.button p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}