.itemviewer {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: minmax(30px, auto);
    grid-auto-flow: row;
    align-items: center;
    column-gap: 7px;
    row-gap: 0;
    margin: 0.5em;
    padding: 0 8px 0 8px;
}

.itemviewer p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}