.canvas {
    position: relative;
    display: inline-block;
    width: calc(100% - var(--sidebarSize));
    height: 100vh;
}

.modeselector-container {
    margin: 1.5em;
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
}

.modeselector-container * {
    margin: 3px;
}

div#node-select {
    padding: 5px;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #0000fe;
    border-radius: 100%;
}

.canvas-input {
    text-align: center;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
}